<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">
	<context:annotation-config />

	<context:property-placeholder location="classpath:hbase.properties"></context:property-placeholder>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${database.driverclass}"></property>
		<property name="jdbcUrl" value="${database.jdbcurl}"></property>
		<property name="user" value="${database.user}"></property>
		<property name="password" value="${database.password}"></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
				<prop key="hibernate.hbm2dll.auto">update </prop>
				<prop key="hibernate.format_sql">true </prop>
				<prop key="hibernate.show_sql">true </prop>
			</props>
		</property>


		<property name="mappingResources">
			<list>
				<value>io/zhpooer/ssh/domain/User.hbm.xml</value>
			</list>
		</property>
	</bean>
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="helloWorldAction" class="io.zhpooer.ssh.action.HelloWorldAction" scope="prototype"> </bean>

	<bean id="userService" class="io.zhpooer.ssh.service.impl.UserServiceImpl"></bean>
	<bean id="userDao" class="io.zhpooer.ssh.dao.impl.UserDaoImpl"></bean>

</beans>
